<%- include("../partials/head") %>
<title><%= title %></title>
</head>
<body>
  <%- include("../partials/header") %>
  <main id="inv-detail">
    <h1><%= inv.inv_make %> <%= inv.inv_model %></h1>
    <section class="vehicle-detail">
      <figure class="vehicle-image">
        <img src="<%= inv.inv_thumbnail %>" 
             alt="Image of <%= inv.inv_make %> <%= inv.inv_model %>">
      </figure>
      <div class="vehicle-info">
        <h2><%= inv.inv_year %> <%= inv.inv_make %> <%= inv.inv_model %></h2>
        <p><strong>Price:</strong> <%= inv.inv_price_fmt %></p>
        <p><strong>Mileage:</strong> <%= inv.inv_miles_fmt %> miles</p>
        <p><strong>Color:</strong> <%= inv.inv_color %></p>
        <p><strong>Description:</strong> <%= inv.inv_description %></p>
      </div>
    </section>
  </main>
</body>
</html>
